.login-button {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .icon-container {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .text-container {
    font-size: 18px;
    font-weight: bold;
  }
  